*.py[co]
*.egg-info
build
*~
.\#*
dist
.directory
TOPP/EXTERNAL
TOPP/SCRIPTS
TOPP/replace.sh
bin/*.txt
bin/guitests/*
bin/currentwork.py
docs/screenshots/*
pylint.output
run_pylint.sh
PyPi.txt
TARGET/*
~*.docx
